body {
    
    background: #ededed url(../img/bg-header.gif) repeat-x top center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and nav styling */

.header {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.header__logo {
    
    float: left;
    margin: 0;
    padding: 64px 0px 0px 10px;
    width: 324px;
}

.header__text {
    background: #ededed url(../img/bg-logo.png) repeat-x top center;
    color: #fff;
    display: block;
    font-size: 60px;
    font-weight: normal;
    height: 130px;
    line-height: 130px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 270px;
}

.nav {
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 124px 0 0;
}

.nav__btn {
    background-color: rgb(4, 56, 58);
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin: 0px 10px;
    padding: 0px 15px;
}

.nav__btn--selected {
    opacity: 0.4;
}

.nav__text {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}