body {
    background: #ededed url(../img/bg-header.gif) repeat-x top center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and nav styling */

.header {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    position: static;
}

.header__logo {
    
    float: left;
    margin: 0;
    padding: 64px 0px 0px 10px;
    width: 324px;
}

.header__text {
    /* background: rgb(25,0,36); */
    background: linear-gradient(90deg, rgba(25,0,36,1) 0%, rgba(34,0,70,1) 100%);
    border-radius: 7px;
    color: #fff;
    display: block;
    font-size: 60px;
    font-weight: normal;
    height: 130px;
    line-height: 130px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 270px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 115px 0 0;
}

.nav__btn {
    /* background: rgb(34,0,70); */
    background: linear-gradient(90deg, rgba(34,0,70,1) 0%, rgba(25,0,36,1) 100%);
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin: 0px 10px;
    padding: 0px 15px;
}

.nav__btn--selected {
    opacity: 0.4;
}

.nav__text {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.aboutUs {
    background: linear-gradient(90deg, rgba(113,1,205,0.6026611328125) 0%, rgba(1,133,207,1) 92%);
    display: flex;
    height: 30%;
    justify-content: space-evenly;
    margin: auto ;
    overflow: hidden;
    position: relative;
    width: 100%;
}


.aboutUs__block {
    display: block;
    margin: 5%;
    width: 13%;
    position: relative;
}

.aboutUs__block__img {
    /* box-shadow: 0px 0px 6px 5px rgb(48, 255, 238) ; */
    border: 5px groove rgb(121, 27, 243);
    border-radius: 5%;
    box-shadow: 0 3px 4px black;
}

.aboutUs__block__header {
    font-size: 26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;

}

.aboutUs__block__text {
    background-color: #ebebeb1f;
    box-shadow: 0 0 40px #ebebeb5b;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 4px #fff;
}