body {
    background: #ededed url(../img/bg-header.gif) repeat-x top center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and nav styling */

.header {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    position: static;
}

.header__logo {
    
    float: left;
    margin: 0;
    padding: 64px 0px 0px 10px;
    width: 324px;
}

.header__text {
    background: rgb(25,0,36);
    background: linear-gradient(90deg, rgba(25,0,36,1) 0%, rgba(34,0,70,1) 100%);
    border-radius: 7px;
    color: #fff;
    display: block;
    font-size: 60px;
    font-weight: normal;
    height: 130px;
    line-height: 130px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 270px;
}

.nav {
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 115px 0 0;
}

.nav__btn {
    background: rgb(34,0,70);
    background: linear-gradient(90deg, rgba(34,0,70,1) 0%, rgba(25,0,36,1) 100%);
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin: 0px 10px;
    padding: 0px 15px;
}

.nav__btn--selected {
    opacity: 0.4;
}

.nav__text {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.aboutUs {
    margin: auto ;
    
    height: 30%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.aboutUs__block {
    display: block;
    margin: 5%;
    width: 13%;
}

.aboutUs__img {
    width: 100%;
    border: 5px rgba(102, 2, 209, 0.596) ;
}